@model WebApplication6.Models.ToDoItem

@{
    ViewData["Title"] = "Create";
}

<h1>What are you planning?</h1>


<form asp-action="Create">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="form-group">
         <label asp-for="Text" class="control-label"></label>
         <input asp-for="Text" class="form-control" />
         <span asp-validation-for="Text" class="text-danger"></span>
   </div>
   <hr/>
   <div class="form-group">
         <input type="submit" value="Create" class="btn btn-primary" />
   </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
